body { background-color: #333399} .white { color: #FFFFFF; text-decoration: none; 
text-align: left; background-color: #333399} .grey { color: #CCCCCC; font-size: 
large; text-align: left; background-color: #333399} .right { text-align: right} 
.cell { background-color: #FFFFFF} .tiny { font-size: 8pt; font-weight: normal} 
